/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
:root {
  --hl-color: #d3af86;      /*ä»£ç æ¡†å­—ä½“é¡”è‰² ã€å¿…é¡»ã€‘ (æŠŠä¸‹é¢.hljsçš„ colorå¤è£½åˆ°è¿™é‡Œæ¥)*/
  --hl-bg: #07020eb0;         /*ä»£ç æ¡†èƒŒæ™¯è‰² ã€å¿…é¡»ã€‘ (æŠŠä¸‹é¢.hljsçš„ backgroundå¤è£½åˆ°è¿™é‡Œæ¥)*/
  --hltools-bg: #321a0f;    /*ä»£ç æ¡†é¡¶éƒ¨å·¥å…·æ èƒŒæ™¯è‰² ã€å¯é€‰ã€‘(å¦‚æžœä½ å…³æŽ‰äº† copyã€lang å’Œ shrink,å¯ä¸ç”¨é…ç½®è¿™ä¸ªï¼‰*/
  --hltools-color: #fff;    /*ä»£ç æ¡†é¡¶éƒ¨å·¥å…·æ å­—ä½“é¡”è‰² ã€å¯é€‰ã€‘(å¦‚æžœä½ å…³æŽ‰äº† copyã€lang å’Œ shrink,å¯ä¸ç”¨é…ç½®è¿™ä¸ªï¼‰*/
  --hlnumber-bg: #221a0f;   /*ä»£ç æ¡†è¡Œæ•°èƒŒæ™¯è‰² ã€å¯é€‰ã€‘(å¦‚æžœå·²ç»å…³æŽ‰ line_number,å¯ä»¥ä¸ç”¨é…ç½®è¿™ä¸ª)*/
  --hlnumber-color: #fff;   /*ä»£ç æ¡†è¡Œæ•°å­—ä½“é¡”è‰² ã€å¯é€‰ã€‘ (å¦‚æžœå·²ç»å…³æŽ‰ line_number,å¯ä»¥ä¸ç”¨é…ç½®è¿™ä¸ª)*/
  --hlscrollbar-bg: #d3af86;/*ä»£ç æ¡†æ»šåŠ¨æ¡é¡”è‰² ã€å¯é€‰ã€‘ï¼ˆé»˜è®¤ä¸ºä¸»é¢˜ä¸»é¡”è‰²ï¼‰*/
  --hlexpand-bg: #d3af86;   /*ä»£ç æ¡†åº•éƒ¨å±•å¼€èƒŒæ™¯è‰² ã€å¯é€‰ã€‘(å¦‚æžœå·²ç»å…³æŽ‰ highlight_height_limit,å¯ä»¥ä¸ç”¨é…ç½®è¿™ä¸ª)*/
}
.hljs {
    background: white;
    color: black;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-variable {
    color: #008000;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-built_in,
  .hljs-name,
  .hljs-tag {
    color: #4343cc;
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-section,
  .hljs-attribute,
  .hljs-literal,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-addition {
    color: #408d2f;
  }
  
  .hljs-deletion,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-meta {
    color: #2b91af;
  }
  
  .hljs-doctag {
    color: #808080;
  }
  
  .hljs-attr {
    color: #f00;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link {
    color: #00b0e8;
  }
  
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }